<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.app.common.mapper.PointMapper">
  <insert id="pointHistory" parameterType="PointVO">
  	insert into point_history
  	values((select nvl(max(history_no),0)+1 from point_history), #{pointType}, #{pointNumber}, #{pointWhere}, sysdate, #{memberId})
  </insert>
  <select id="selectPointHistory" parameterType="String" resultType="PointVO">
  	select * from point_history where member_id = #{memberId} order by history_date desc
  </select>
  <update id="updatePoint" parameterType="PointVO">
  update member
  set member_point = member_point + #{pointNumber}
  where member_id = #{memberId} 
  </update>
  <select id="selectOfferPoint" resultType="PointVO">
  	select * from point_history
  	where point_where = #{pointWhere}
  	and member_id = #{memberId}
  </select>
  <update id="updatePointHistory" parameterType="PointVO">
  	update point_history
  	set point_number = #{pointNumber},
  	history_date = sysdate
  	where point_where = #{pointWhere}
  	and member_id = #{memberId}
  </update>
  </mapper>