<!DOCTYPE html> <!-- answer_update.html -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
</head>

<body>
<div>
<th:block layout:fragment="content">

    <!-- 답변 수정 작성 폼 -->
    <section id="contact_main_arae" class="section_padding">
        <div class="container">
            <div class="contact_main_form_area">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="section_heading_center">
                            <h2>답변하기</h2>
                        </div> 
                        <div class="contact_form">
                       <!-- <form th:action="@{/qna/qnaAnswerUpdate/{communityBoardNum}(communityBoardNum=${qna.communityBoardNum})}" method="post">-->
                            <form th:action="@{/qna/qnaAnswerUpdate}" method="post">
                                <div class="row">
                                <input type="hidden" th:value="${qna.communityBoardNum}" name="communityBoardNum">
    							<input type="hidden" th:value="${answerCommunityBoardNum}" name="answerCommunityBoardNum">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="communityBoardContent" th:text="${qna.communityBoardContent}" rows="3" name="communityBoardContent"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
									    <label for="fileInput">
									  		<img th:src="@{/assets/img/img.png}" style="width:30px" alt="아이콘">
										</label>
										<input style="display: none;" id="fileInput" type="file" name="file" accept="image/*">
										    <a class="btn btn-danger" style="float: right; margin-left: 10px; width: 75px; height: 42px;" th:href="@{/qna/main}">취소</a>
                                            <button style="float: right;" type="submit" class="btn btn_theme btn_md">수정</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 답변 수정 작성 폼 끝 -->

    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    </th:block>
    </div>
</body>
</html>