<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/planner_layout">
<div>

	<th:block layout:fragment="planner_content">
		<!-- Tour Search Areas -->
		<section id="explore_area" class="planner_padding">
			<div class="container-fluid">
				<!-- Section Heading -->
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="section_heading_center"></div>
					</div>
				</div>
				<div class="row">
					<div class="row_left">
						<th:block
							th:replace="fragments/planner_sidebar :: planner_sidebarFragment"></th:block>
					</div>
					<div class="row_right">
						<div class="row">
							<div class="col-lg-12">
								<div class="cruise_search_result_wrapper">
									<div class="cruise_search_item"
										style="background-image: url('assets/img/finalproject-img/dageu_lightfes.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
										<div class="cruise_item_inner_content">
											<div class="cruise_content_top_wrapper">
												<div class="cruise_content_top_left">
													<ul>
														<li>출발일~도착일<i class="fas fa-circle"></i></li>
														<li>나라</li>
													</ul>
													<h4>여행지</h4>
													<p></p>
													<h5>
														<i class="fas fa-map-marker-alt"></i>주소
													</h5>
												</div>
												<div class="cruise_content_top_right">
													<h4>날씨</h4>
													<h5>온도</h5>
												</div>
											</div>
											<div class="cruise_content_middel_wrapper">
												<div class="cruise_content_middel_left">
													<h5>별점 별점그림</h5>
													<h6>리뷰 개수</h6>
												</div>
												<div class="cruise_content_middel_right">
													<h5>환율</h5>
												</div>
											</div>
											<div class="cruise_content_bottom_wrapper">
												<div class="cruise_content_bottom_left">
													<h5>카테고리</h5>
												</div>
												<div class="cruise_content_bottom_right">
													<a href="tour-details.html" class="btn btn_theme btn_md">찜하기</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<h4>전체 개인</h4>
								<hr>
								<div class="checkList">
									<div class="dashboard_common_table">
										<h3>체크리스트</h3>
										<div class="table-responsive-lg table_common_area">
											<table class="check_list table">
												<thead>
													<tr>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="checkbox">드라이기</td>
													</tr>
													<tr>
														<td><input type="checkbox">칫솔</td>
													</tr>
													<tr>
														<td><input type="checkbox">양말</td>
													</tr>
													<tr>
														<td><input type="checkbox">충전기</td>
													</tr>
													<tr>
														<td><input type="checkbox">멀티탭</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>
</div>