<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/admin_layout">

<body>
	<div>
		<th:block layout:fragment="content">

			<div class="col-lg-8 ">
				<form class="postform" method="post" action="/admin/memberdetail">
					<input type="hidden" class="wheretogo" name="memberId" value="">
				</form>
				<div class="dashboard_common_table">
					<h3>회원 목록</h3>
					<div class="table-responsive-lg table_common_area" style="overflow:auto; height:800px;">
						<table class="table">
							<thead>
								<tr>
									<th >ID</th>
									<th>이름</th>
									<th>등급</th>
									<th>이메일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="info : ${list}">
									<td th:text="${info.memberId}" class="member"></td>
									<td th:text="${info.memberName}"></td>
									<td th:text="${info.memberGrade}"></td>
									<td th:text="${info.memberEmail}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="go-top">
				<i class="fas fa-chevron-up"></i> <i class="fas fa-chevron-up"></i>
			</div>
			<script th:src="@{/admin/js/member_admin.js}"></script>
		</th:block>
	</div>

</body>

</html>