<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<head>
</head>

<body>
<div>
<th:block layout:fragment="content">
    <!-- preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- search -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 게시글 상세 페이지 -->
    <section id="tour_details_main" class="section_padding" style="padding-top: 200px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tour_details_leftside_wrapper">
                        <div class="tour_details_boxed">
                        	<!-- 공지사항 제목 -->
                        	<div class="flex_div">
							    <h3 class="heading_theme" style="float:left;" th:text="${notice.noticeBoardTitle}"></h3>
							    <p style="float:right; margin-left: 10px;" th:text="'조회수 : ' + ${notice.noticeBoardViews}"></p>
							    <p style="float:right; margin-left: 10px;"  th:text="${#dates.format(notice.noticeBoardDate, 'yy-MM-dd')}"></p>
							</div>
                            <!-- 공지사항 제목 끝 -->

                            <!-- 공지사항 내용 -->
                            <br>
                            <br>
                            <br>
                            <div class="tour_details_boxed_inner">
                                <p th:inline="none" th:utext="${notice.noticeBoardContent}">
                                </p>
                            </div>
                            <!-- 공지사항 내용 끝 -->
                        </div>
                        <div class="btn_zip">
						  <button style="border: 1px solid black" class="btn btn-light" onclick="location.href='/notice/main'">목록</button>
						  <a th:href="@{'/notice/noticeDelete/' + ${notice.noticeBoardNum}}" class="btn btn-danger">삭제</a>
						  <a th:href="@{/notice/noticeEdit/{noticeBoardNum}(noticeBoardNum=${notice.noticeBoardNum})}" class="btn btn-primary">수정</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 게시글 상세 페이지 끝 -->

    <div class="go-top">
        <i class="fas fa-chevron-up">2</i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <!-- Offcanvas Area -->
    <div class="offcanvas select_offer_modal offcanvas-end" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Book now</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="side_canvas_wrapper">
                <div class="travel_date_side">
                    <div class="form-group">
                        <label for="dates">Select your travel date</label>
                        <input type="date" value="2022-05-05" class="form-control" id="dates">
                    </div>
                </div>
                <div class="select_person_side">
                    <h3>Select person</h3>
                    <div class="select_person_item">
                        <div class="select_person_left">
                            <h6>Adult</h6>
                            <p>12y+</p>
                        </div>
                        <div class="select_person_right">
                            <div class="button-set">
                                <button type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <span>01</span>
                                <button type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="select_person_item">
                        <div class="select_person_left">
                            <h6>Children</h6>
                            <p>2 - 12 years</p>
                        </div>
                        <div class="select_person_right">
                            <div class="button-set">
                                <button type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <span>01</span>
                                <button type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="select_person_item">
                        <div class="select_person_left">
                            <h6>Infant</h6>
                            <p>Below 2 years</p>
                        </div>
                        <div class="select_person_right">
                            <div class="button-set">
                                <button type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <span>01</span>
                                <button type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="write_spical_not">
                        <label for="texts">Write any special note</label>
                        <textarea rows="5" class="form-control" placeholder="Write any special note"
                            id="texts"></textarea>
                    </div>
                    <div class="form-check write_spical_check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultf1">
                        <label class="form-check-label" for="flexCheckDefaultf1">
                            <span class="main_spical_check">
                                <span>I read and accept all <a href="terms-service.html">Terms and conditios</a></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="proceed_booking_btn ">
            <a href="apartment-booking.html" class="btn btn_theme btn_md w-100">Proceed to Booking</a>
        </div>
    </div>
</th:block>
</div>
</body>
<script>
function convertLineBreaksToHtml(text) {
    return text.replace(/\r?\n/g, '<br>');
}
</script>

</html>