<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<head>
  <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
</head>

<body>
	<div>
		<th:block layout:fragment="content">
			<!-- preloader Area -->
			<div class="preloader">
				<div class="d-table">
					<div class="d-table-cell">
						<div class="lds-spinner">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
			</div>
					
			<!-- SNS 섹션 -->
			<section id="explore_area" class="section_padding">
				<div class="container">

					<!-- 검색창 -->
					<div id="section_row" class="row">
						<div class="col-lg-6">
							<form id="cta_form_wrappper">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="검색창">
									<button class="btn btn_theme btn_md" type="button">검색</button>
								</div>
							</form>
						</div>
					</div>

					<!-- SNS 사이드바 영역 -->
					<div class="row">
						<div class="col-lg-3">
							<div class="left_side_search_area">
								<div class="left_side_search_boxed2">
									<div class="item_searc_map_area">
										<!-- 사이드바 프로필 사진 -->
										<div class="member_profile">
									    	<img class="profile_sidebar" th:src="@{/assets/img/bus/profile_sidebar.jpg}" alt="img">
									    </div>
									</div>
									<hr>
									<div class="left_side_search_boxed3">
										<!-- 환경설정,팔로우 버튼 넣을곳 -->
										<div class="follow_div">										
											<button th:if="${fcnt == 'Me'}" class="btn btn-secondary setting_btn" onclick="location.href='/user/profile'">환경설정</button>
											<button th:if="${fcnt == 'follow'}" th:id="'followBtn_' + ${followId}" class="btn btn-warning follow_btn" onclick="changeFollow(event)">팔로잉</button>
											<button th:if="${fcnt == '!follow'}" th:id="'unfollowBtn_' + ${followId}"class="btn btn-primary follow_btn"  onclick="changeFollow(event)">팔로우</button>
										</div>
										<!-- 환경설정,팔로우 버튼 넣을곳 끝 -->
										<h2>메뉴</h2>
										<a href="#!" data-bs-toggle="modal" data-bs-target="#postWriteModal"><h4>글 쓰기</h4></a>
										<a href="#" id="myPost" onclick="myPost()"><h4>나의 글 모음</h4></a>
									</div>
									<div class="left_side_search_boxed3">
										<h3>갤러리</h3>
										<div>
										
										</div>
										<div class="load_more_flight">
											<button class="btn btn_md">
												<i class="fas fa-spinner"></i> 전체 보기
											</button>
										</div>
									</div>
								</div>						
							</div>
						</div>

						<!-- SNS 메인 영역(게시글) -->
						<div class="col-lg-9">
							<div class="row">
								<div class="col-lg-12">
									<div class="flight_search_result_wrapper" id="post_container">

									<!-- 게시글 단락 -->
									<div th:each="post : ${myPost}" class="post-item" th:data-post-id="${post.snsPostNum}">
									   <a href="javascript:void(0)"  th:onclick="'openModal(' + ${post.snsPostNum} + ')'">
									       <div class="sns_post_item_wrappper" th:data-post-id="${post.snsPostNum}" >
									           <div class="sns_post_border">
									               <input type="hidden" th:value="${post.snsPostNum}" class="pno">
									               <div class="sns_post_list">
									                    <div class="flight_multis_area_wrapper">
									                        <div class="flight_search_left">
									                            <div class="member_profile">
									                                <img th:src="@{/assets/img/bus/bus-1.jpg}" alt="img">
									                            </div>
									                            <div class="member_profile_info">
									                                <p style="display: none;">인플루언서표시</p>
									                                <h3 th:text="${post.memberId}"></h3> 
									                                <!-- 회원 ID --> 
									                                
									                            </div>
									                        </div>
									                        <div style="display: inline-block;" class="member_icon" >
									                            <div class="flight_right_arrow">
									                            	<p class="p_width post-content" th:text="${post.snsPostContent}">
									                                <!-- 게시글 내용 -->
															    </div>
									                        </div>
									                    </div>
									                </div>
									                <div class="member_post_thumbnail">
									                	<div style="float: right;" class="like_count">
													        <i style="color: red;" class="fas fa-heart"></i>
													        <span th:text="${post.likeCount}">좋아요 카운트 표시</span>
														</div>
									                    <h2 style="display: none;">섬네일</h2>
									                    <img style="display: none;" src="assets/img/icon/right_arrow.png" alt="icon"><p style="display: none;">인플루언서,구독자 아이콘</p>
									                    <h6 th:text="${#dates.format(post.snsPostDate, 'yyyy-MM-dd')}"></h6> <!-- 작성일자 -->
									                </div>
									            </div>
									        </div>
									    </a>
									    </div>
									    <!-- 게시글 단락 끝 -->

									</div>
									<div class="load_more_flight">
										<button class="btn btn_md">
											<i class="fas fa-spinner"></i> 더보기
										</button>
									</div>
								</div>
							</div>
						</div>
						<!-- 끝 SNS 메인 영역(게시글) -->
					</div>
				</div>
			</section>

			<div class="go-top">
				<i class="fas fa-chevron-up"></i> <i class="fas fa-chevron-up"></i>
			</div>

			<!-- 게시글 조회 모달 -->
			<div class="modal fade" id="postReadModal" tabindex="-1"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered  modal-lg">
					<div class="modal-content">
						<div class="btn_modal_closed btn_modal_bus">
							<button type="button" id="close1">
								<i class="fas fa-times"></i>
							</button>
						</div>
						<div class="modal-body bus_set_modal_content">
							<div class="bus_modal_heading">
								<div class="d-flex align-items-center"> <!-- Flexbox를 사용한 컨테이너 -->
									<img th:src="@{/assets/img/bus/bus-1.jpg}" alt="img">
									&nbsp;<h2 id="memberId"></h2> <!-- 회원 ID -->
								</div> 
								<div class="like_box">
									<h5 id="likeCount" class="like_count" name="like_count" style="float:right;"><i class="fas fa-heart"></i></h5>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-12">
									<div class="bus_seat_left_side">
										<div class="image_center">
											<img class="img_location"
												th:src="@{/assets/img/common/bus_seat2.jpg}" alt=""
												height="600" width="600">
										</div>
										<hr>
										<p id="snsPostContent"></p>
										<br>
									</div>
								</div>
							</div>
							<hr>
							<!-- 댓글을 볼수 있는 리스트 -->
							<div id=commentList>
							
							</div>
							<!--  댓글을 볼수 있는 리스트 끝 -->

							<!-- 댓글 모달 -->
							<div class="modal fade" id="postCommentModal" tabindex="-1"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered  modal-lg">
									<div class="modal-content">
										<div class="btn_modal_closed btn_modal_bus">
											<button type="button" id="close2">
												<!-- data-bs-dismiss = 모달 끄는 부분 -->
												<i class="fas fa-times"></i>
											</button>
										</div>
										<form id="commentForm" action="/post/comment/create" method="get">
											<div class="modal-body bus_set_modal_content">
												<div class="bus_modal_heading">
													<h2>댓글 작성</h2>
												</div>
												<div class="row">
													<div class="col-lg-12">
														<div class="bus_seat_left_side">
															<textarea name="snsCommentContent" class="textarea_location" rows="10" cols="90"></textarea>
														</div>
														<br>
													</div>
												</div>
												<div class="btn_zip">
												<input class="btn btn-primary btn-sm" type="submit" value="등록"> 
												<input class="btn btn-danger btn-sm" type="reset" value="취소">
												</div>
											</div>
										</form>
										<!-- 댓글 모달 끝 -->

									</div>
								</div>
							</div>
							<div class="btn_zip d-flex justify-content-between">
							    <div class="d-flex">
							        <button href="#!" class="btn btn-dark mr-2" data-bs-toggle="modal" data-bs-target="#postCommentModal">댓글</button>
							        <button type="button" class="btn btn-outline-danger mr-2" id="likeButton"><i class="fas fa-heart"></i> 좋아요</button>
							    </div>
							    <div class="d-flex">
							        <button type="button" style="display: none;" id="postModifyButton" data-bs-toggle="modal" data-bs-target="#postEditModal" data-post-id="${post.id}" class="btn btn-primary btn-sm mr-2">수정</button>
							        <button type="button" style="display: none;" class="btn btn-danger btn-sm mr-2" id="deletePostButton">삭제</button>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 게시글 조회 모달 끝 -->

			<!-- 게시글 작성 모달 -->
			<div class="modal fade" id="postWriteModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered  modal-lg">
					<div class="modal-content">
						<div class="btn_modal_closed btn_modal_bus">
							<button type="button" data-bs-dismiss="modal" aria-label="Close">
								<i class="fas fa-times"></i>
							</button>
						</div>
						<form action="/sns/insertPost" id="postForm" enctype="multipart/form-data" method="POST">
							<input type="hidden" id="memberId" name="memberId">
							<div class="modal-body bus_set_modal_content">
								<div class="bus_modal_heading">
									<h2>게시글 작성</h2>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="bus_seat_left_side">
											<textarea name="snsPostContent" id="snsPostContent" rows="20" cols="93"></textarea>
											<!-- 일단 보류 -->
										<!-- <script>
										  ClassicEditor
										    .create( document.querySelector( '#snsPostContent1' ) )
										    .then( editor => {
										        console.log( editor );
										    } )
										    .catch( error => {
										        console.error( error );
										    } );
										</script> -->

										</div>
										<br>
									</div>
								</div>
								<div>
								<input type="file" name="img" accept="image/*">
								</div>
								<div class="btn_zip">
								<button type="submit" class="btn btn-primary btn-sm" >등록</button> 
								<input class="btn btn-danger btn-sm" type="reset"	value="취소">
								</div>
							</div>
						</form>
						<!-- 모달 끝 -->
					</div>
				</div>
			</div>
			<!-- 글 작성 모달 끝 -->
			
			<!-- 게시글 수정 모달 -->
			<div class="modal fade" id="postEditModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="btn_modal_closed btn_modal_bus">
							<button type="button" data-bs-dismiss="modal">
								<i class="fas fa-times"></i>
							</button>
						</div>
						<div class="modal-body bus set_modal_content">
							<div class="bus_modal_heading">
								<h2>게시글 수정</h2>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="bus_seat_left_side">
										<br><br>
										<label for="editPostContent">내용</label>
										<textarea class="textarea_update" id="editPostContent" rows="10" cols="90" required></textarea>
									</div>
									<br>
								</div>
							</div>
							<div class="btn_zip">
							<button id="saveUpdatePost" class="btn btn-primary btn-sm">저장</button>
							<button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 게시글 수정 모달 끝 -->

			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:inline="javascript">
				$('#close2').on('click', function() {
					$("#postCommentModal").modal('hide');
				})
				$('#close1').on('click', function() {
					$("#postReadModal").modal('hide');
				})
			</script>
			<script th:inline="javascript">
			    /*<![CDATA[*/
			    var memberId = /*[[${memberId}]]*/ 'default';
			    /*]]>*/
			</script>
			<script th:src="@{/sns/js/post_view.js}"></script>
			<script th:src="@{/sns/js/post_modify.js}"></script> 
			<script th:src="@{/sns/js/post_delete.js}"></script>
			<script th:src="@{/sns/js/post_list.js}"></script>
			<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
</th:block>
	</div>
</body>
</html>